@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
html {font-size: calc(8px + 1.0vw);}

h1, h2, h3, h4, h5 {
  font-family: 'Permanent Marker', cursive;
  margin: 1em 0 1em;
  font-weight: inherit;
  line-height: 1.2;
}

a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  -webkit-transform: translate(-50%, -50%);
  font-size: 22px;
  font-family: 'Permanent Marker', cursive;
  font-weight:100;
  text-decoration: none;
}
a.disabled {
  pointer-events: none;
}

.background {
  position: absolute;
  background: url(resources/main_page_button.png);
  width: 350px;
  height: 150px;
  transform: scale(.8,.8);
}
.background:hover {
  background: url(resources/main_page_button_hover.png);
  transform: scale(.85, .85);
}
.deactivated {
  position: absolute;
  background: url(resources/main_page_button_deactivated.png);
  width: 350px;
  height: 150px;
  transform: scale(.8,.8);
  -webkit-animation-name: flicker;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite:
  animation-name: flicker;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}


#main_block {
  position: absolute;
  color: blue;
  width: 95%;
  height: 95%;
  left: 2.5%;
  top: 2.5%;
  overflow: hidden;
}
#title {
  position: absolute;
  text-align: center;
  left: 30%;
}
#button_1 {
  position: relative;
  left: 15%;
  top: 60%;
}
#button_2 {
  position: relative;
  left: 60%;
  top: 60%;
}
#button_3 {
  position: relative;
  left: 37%;
  top: 40%;
}

#universe {
  display: block;
  position: fixed;
  top:0;
  left:0;
  z-index:-1;
}

@-webkit-keyframes flicker {
  from {opacity: .7}
  to {opacity: 1}
}
@keyframes flicker {
  from {opacity: .7}
  to {opacity: 1}
}
